:root{
    --primary-color: #DF1746;
    --secundary-color: #212121;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    /*background-color:blueviolet;*/
    position: relative;
    height: calc(100vh - 50px);
    background-image: url(./images/layered.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background-position-y: bottom;*/
    background-position: center center;
    background-size: cover;
    

}
.l-container{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 1024px){
    .l-container{
        width: 1024px;
        margin: 0 auto;
    }
}

/*.flex{
    display: flex;
    justify-content: space-between;
}*/

/*.top-bar{
    height: 45px;
    width: 100%;
    background-color: var(--secundary-color); 

}*/

/*.top-bar i {
    color: #fff;
    font-size: 21px;
    cursor: pointer;
    padding: 10px;
}*/

/*# sourceMappingURL=glide.fa-whatsapp{
    font-size: 22px !important;
}*/
.menu{
    display:flex;
    justify-content: space-between;
}
.social-media{
    height: 45px;
    display: flex;
    flex-direction: column;

}

.social-media a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.social-media a:hover{
  background-color: #505050
}

.social-media i {
    margin-right: 5px;
}

.menu nav{
    position: fixed;
    background:#212121;
    width: 200px;
    height:100vh;
    top: 0;
    left: -200px;
    padding: 20px;
    z-index: 1;
    transition: all 300ms;

}



#back_menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.5);
    display: none;
}
#btn_menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 24px;
    cursor: pointer;
    transition: all 300ms
}

#btn_menu:hover{
    background: rgba(0,0,0,.1)
 
}

.logo{
    width: 200px;
    margin: auto;
    /*padding-top: 20px;*/
    /*margin-top: 30px;*/
    margin-bottom: 60px
}

.logo img{
    width:100%
}




.card{
    background-color: #f8f8f8;
    width: 350px;
    height: 100px;
    display: flex;
}

.card__img{
    width: 95px;
    padding: 4px;
}

.card__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.card__info{
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    flex: 1;
}


.vivo{
    text-transform: uppercase;
    text-align: center;
    padding: 1px 6px;
    width: 87px;
    background-color: #ccc;
    font-size: 12px;
    border-radius: 4px;
    display: inline-block;
    background-color: #DF1746;
    color: #fff;
    font-weight: 500;
    margin-bottom: 5px;
}

.card__infositle{
    margin: 0; 
    font-weight: 500;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__infosubtitle{
    margin: 0;
    font-size: 15px;
   
}

.card__play{
    width: 50px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.card__play i{
    font-size: 35px;
    color: #DF1746;
    cursor: pointer;
}



.tag{
    color: #DF1746;
    text-transform: uppercase;
    font-size: 14px;
}

@media screen and (min-width:450px) {
    .logo {
        width: 300px;
        padding-top: 50px;
        margin-bottom: 50px;
    }
    
    .card{
        width: 450px;
        margin-left: -60px;
    }
    .card__img{
        width: 120px;
        padding: 4px 10px;
    }
    .card__info{
        margin-left: 20px;
    }
    .card__play{
        width: 65px;
    }
    .card__play i{
        font-size: 40px;
    
    }

    .today-programming{
        width: 450px !important;
        height: 490px !important;
    }
    .glide__slides{
        height: 450px !important;
    }

    .glide.glide--ltr{
        width: 390px !important;
        padding-bottom: 60px;
    }
    .body{
        min-height: calc(100vh - 80px);
    }
    .footer{
        font-size: 16px;
        height: 80px;
        bottom: -80px;
        font-size: 14px;
    }
    .volume:hover input[type="range"]{
        width: 100%;
        
    }
    .volume:hover{
        width: 132.5px;
        
    }
    .volume-icon i{
        color: #fff !important;
    }

    .container__menu{
        background-color: #212121;
        height: 45px;
        display: flex;
        align-items: center;
    
    }

    .menu{
        width: 95%;
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }

    #btn_menu{
        display: none;
    }

    .social-media span {
        display: none;
    }

    .social-media i {
        font-size: 20px;
        margin-right: 0;
    }

    .menu nav {
        position: relative;
        left: 0 !important;
        height: 45px;
        width: 100%;
        padding: 0;
        background: transparent

    }
    .social-media{
        flex-direction: row;
    }


}















.glide__slides{
    height: 350px;
}

.card{
    transform:rotate(-90deg);
    transform-origin: 100% 0;
    /*margin-top: 5px;*/
    
}

.glide{
    transform:rotate(90deg);
    width: 348px !important;
    /*padding-bottom: 2px;*/
}

.today-programming{
    width: 350px;
    height: 400px;
    margin: 0 auto;
    /*background-color: seagreen;*/
    /*border: none;*/
}








.volume{
    width: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-right: 10px;
    /*position: absolute;*/
    /*top: 8px;
    right: 20px;*/
    transition: 0.5s all;
}







.range{

    width: 100px;
    display: flex;
    align-items: center;
}


input[type="range"] {
    -webkit-appearance: none;
    height: 3px;
    background-color: #ddd;
    border-radius: 5px;
    outline: none;
    border: none;
}



input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background-color: #DF1746;
    border-radius: 50%;
    border: 1px solid #DF1746;
    cursor: pointer;

}

input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background-color: #DF1746;
    border-radius: 50%;
    /*border: 1px solid #DF1746;*/
    border: 0;
    cursor: pointer;

}


input[type="range"]::-moz-range-progress{
    background-color: #DF1746;
}


.volume-icon{
    /*margin-top: -20px;*/
    padding-right: 10px;
    display: flex;
    align-items: center;
}

.volume-icon i{
   
    font-size: 18px;
    color: #212121;
    cursor: pointer;
    /*transform: rotate(-90deg);*/
}

.card__play .icon{
    display: none !important;
}
.card__play .active{
    display: block !important;
}










.footer{
    text-align:center;
    /*background-color: red;*/
    height: 50px;
    position: absolute;
    width: 100%;
    bottom: -50px;
    font-size: 14px;
    color: #fff;
}


@keyframes breath {
    from {opacity: 0.7;} /* Opacidad al comienzo de la animación */
    50% {opacity: 1;} /* Opacidad al 50% de animación */
    to {opacity: 0.7;} /* Opacidad0.1;} /* Opacidad al final de la animación */    
}


.animation{
    background-color: hsl(345, 81%, 48%) !important;
    animation-name: breath;
    animation-iteration-count: infinite;
    animation-duration: 1.3s;
    
}



@media screen and (max-width:360px){
    .card{
        height: 95px;
        margin-left: -18px;
    }
    .card__img{
        /*width: 100px;*/
    }

    .card__infositle{
        font-size: 1em
    }

    .card__infosubtitle{
        font-size: .75em
    }
    .tag{
        font-size: .8em
    }
    .vivo{
        padding: 0;
        width:75px;
        font-size: .75em;
    }
    .glide{
        width: 330px !important;
        margin-left: auto;
        margin-right: auto;
    }
    .logo{
        width:150px;
    }
    .footer{
        font-size: 12px;
    }

    /*.glide__slides{
        margin-left: -1px !important
    }*/
}