*{
    box-sizing: border-box;
}

html{
    font-family: 'Poppins', sans-serif;
}

.card{
    background-color: #f8f8f8;
    width: 450px;
    height: 100px;
    display: flex;
    margin-top: 30px;
}

.card__img{
    width: 120px;
    padding: 4px 10px;
}

.card__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.card__info{
    margin-left: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1
}

.card__infoheader{

}

.vivo{
    text-transform: uppercase;
    text-align: center;
    padding: 1px 6px;
    /*margin: 1em 0;*/
    /*font-family: "Raleway", sans-serif;*/
    width: 87px;
    background-color: #ccc;
    font-size: 12px;
    border-radius: 4px;
    display: inline-block;
    /*opacity: 0.7;*/
    background-color: #DF1746;
    color: #fff;
    font-weight: 500;
    margin-bottom: 5px;
}

.card__infositle{
    margin: 0; 
    font-weight: 500;
    text-transform: uppercase;
    /*margin-top: 5px;*/
}

.card__infosubtitle{
    margin: 0;
    font-size: 15px;
}

.card__play{
    width: 65px;
    display: flex;
    align-items: center;
}

.card__play i{
    font-size: 40px;
    color: #DF1746;
}

.tag{
    color: #DF1746;
    text-transform: uppercase;
    font-size: 14px;
}