* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contenedor{
    width: 90%;
    margin: auto;
}

.btn{
    border: none;
    cursor: pointer;
    background-color: rgb(255, 145, 0);
    padding: 10px 20px;
    margin: 20px 0 20px;
    color: rgb(49, 49, 49);
    font-size: 1em;
    border-radius: 5px;
}

.btn:hover{
    background-color: rgba(245, 139, 0, 0.959);
}

label{
    /*display: block;*/
    margin-bottom: 15px;
    /*width: 200px;*/
}

[type="text"]{
    padding: 10px;
    width: 250px;
    /*border: 1px solid rgb(95, 95, 95);*/
    border: none;
    border-bottom: 1px solid rgb(175, 175, 175);
    margin-bottom: 20px;
    background-color: #f8f8f8;
    text-align: center;
    
}

input[type="text"]:focus::placeholder{
    color: rgb(219, 219, 219);
}

input[type="text"]:focus{
    outline: none;
}

[type="text"]::placeholder{
    font-size: 1.3em;
    text-align: center;
}

.dias{
    display: inline-block;
    margin-bottom: 20px;
}

/*input[type="checkbox"] + label{
    color: rgb(77, 77, 77);
    font-size: 8px;
    display: inline-block;

}*/


.crear{
    background-color: cornflowerblue;
    color: #fff;
    display: block;
    
}

.crear:hover{
    background-color: black;
}

#Locutores, #Programas{
    margin-top: 10px;
    margin-bottom: 40px;
}

#Locutores{
    text-align: center;
}

#formProgramas{
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    /*justify-content: space-evenly;*/
}

#formLocutores{
    margin-right: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#selec, #selec2{
    padding: 10px;
    width: 250px;

}

#selec2{
    margin-top: 10px;
    /*margin-left: 10px;*/
}

#mas{
    background-color: #f8f8f8;
    border: 1px solid #000;
    padding: 3px 20px;
    margin: 10px;
    /*color: rgb(255, 255, 255);*/
    font-size: 1.5em;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s all;
}
#mas:hover{
    background-color: black;
    color: #fff;
}
.botones{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(212, 212, 212);
    padding: 10px 5%;
    margin-bottom: 40px;
}
.boton{
    display: flex;
}
.btn1{
    margin-right: 20px;;
}

#Locutores, #lav, #s, #d{
    display: flex;
    flex-wrap: wrap;

}
.locutor img{
    border-radius: 50%;
    width: 150px;
    margin: 0 10px;
}

.locutor p{
    text-align: center;
}
.locutor button, #Programas button{
    background-color: crimson;
    border: none;
    color: white;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
}

.btnBorrar{
    margin-left: 10px;
}

#Programas img {
    width: 100px;
    border-radius: none;
    margin: 0 5px;
}

#Programas h3{
    text-align: center;
    font-size: 1em;
}
#Programas p {
    text-align: center;
    margin: 0 0 8px 0;
}
#Programas > div > div{
    border: solid 1px rgb(146, 146, 146);
    padding: 10px;
    margin: 5px;
}
#Programas div div{
    text-align: center;
}
h2{
    display: inline-block;
}

.agregarPrograma{
    display: inline-block;
    background-color: aquamarine;
    margin-left: 10px;
    padding: 10px 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.agregarPrograma:hover{
    background-color: rgb(28, 255, 179);
  
}

.overlay{
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.popup{
    background-color: #f8f8f8;
    box-shadow: 0px, 0px, 5px, 0px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    width: 600px;
    
}

.btn-cerrar-popup{
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #bbbbbb;
    transition: 03s ease all;
    text-decoration: none;
}

.btn-cerrar-popup:hover{
    color: #000;
}

.horario input{
    width: 121px;
}

.active{
    visibility: visible;
}

#lav, #s, #d{
    border-bottom: 1px solid #000;
}

#lav{
    padding-bottom: 20px;
}
#s, #d{
    padding: 20px 0;
}